body {
    background-color: rgb(109, 195, 212);
}

header {
   margin: 16px;
   font-size: 24px;
}

#intro {
    background-color: white;
    border-style: solid;
    padding: 16px;
    text-align: center;
}

p {
    width: 30%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
}

#start-button {
    background-color: rgb(255, 255, 137);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 100%;
}

#question {
    background-color: white;
    border-style: solid;
    padding: 16px;
    text-align: center;
}

.none {
    display: none;
}